@media (max-width: 980px) {
	.game {
		.game-sentence .game-sentence-box {
			width: 2.1rem;
			height: 2.1rem;
			font-size: 1.5rem;
			margin: 0.75rem 0.35rem;
		}
		.game-tip {
			font-size: 1.1rem;
			margin: 0.65rem;
			padding: 0.65rem;
		}

		.game-letters .game-letter {
			width: 2.2rem;
			height: 2.2rem;
			font-size: 1.1rem;
		}

		.game-attempts {
			font-size: 1.1rem;
			width: 2.7rem;
			height: 2.7rem;
			margin: 0.75rem 0;
		}

		.game-sentence .game-win-message {
			font-size: 1.1rem;

			strong {
				padding: 0.75rem;
				margin-top: 0.75rem;
				font-size: 1.2rem;
			}
		}

		button.button {
			padding: 1rem 2rem;
			font-size: 1rem;
			margin: 1rem auto;
		}
	}
}
